.login {
  margin: 0 auto;
  width: 400px;
  display: flex;
  height: 800px;
  flex-direction: column;
  padding: 3rem;
  font-family: Helvetica;
  h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.8rem;
  }
  a {
    font-weight: bold;
  }
  a:hover {
    color: rgb(28, 145, 255);
  }
  label {
    font-size: 1.2rem;
    color: rgb(75, 75, 75);
  }

  input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    &:focus {
      outline: none;
      border-color: rgb(28, 145, 255);
    }
  }

  button {
    background-color: rgb(28, 145, 255);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.6rem 1.2rem;
    margin-right: 8px;
    border: none;
    font-weight: bold;
  }
  .buttons {
    display: flex;
  }
}

.error {
  padding: 0.5rem;
  color: rgb(155, 0, 0);
  width: 100%;
  border: transparent;
  border-radius: 5px;
  background-color: rgb(255, 192, 173);
}

.form-group {
  margin: 1rem 0;
}
