<div class="login">
  <h2>Sign In</h2>
  <form>
    <label for="email">Email Address</label>
    <input
      required
      minlength="4"
      ngModel
      name="email"
      #email="ngModel"
      type="email"
      id="email"
      placeholder="Enter email"
    />
    <div class="error" *ngIf="email.touched && !email.valid">
      Email is required and should be at least 4 characters
    </div>
    <br />
    <br />
    <label for="password">Password</label>
    <input
      required
      minlength="6"
      ngModel
      name="password"
      #password="ngModel"
      type="password"
      id="password"
      placeholder="Enter password"
    />
    <div class="error" *ngIf="password.touched && !password.valid">
      Password is required and should be at least 6 characters
    </div>
    <br />
    <div class="buttons">
      <button type="submit" routerLink="/">Sign In</button>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <p>New user ? <a routerLink="/register">Register</a></p>
  </form>
</div>
