<div class="add-post">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="wraper"></div>
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder="Enter Post Title"
      required
    />
    <br />
    <input
      type="text"
      id="text"
      formControlName="text"
      placeholder="Click here to start typing"
      required
    />
    <br />
    <div class="buttons">
      <button type="submit" [disabled]="!postForm.valid">post</button>
      <button id="cancel" routerLink="/">cancel</button>
    </div>
  </form>
</div>
